* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow-x: hidden;
}

.header {
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  padding: 0;
  position: relative;
  /* v--- uncomment for fixed header height, otherwise it adjusts for logo size ---v  */
  /* height: 50vh; */
}

.logo {
  background-image: url(./img/HVAC\ Company_new_colors.png);
  background-position: center;
  background-size: cover;
  height: 300px;
  width: 300px;
  display: flex;
  justify-content: center;
}

#menu-icon {
  font-size: 42px;
  color: black;
  position: absolute;
  right: 0;
  display: none;
}

.navbar {
  width: 100%;
  height: 50px;
  background-color: black;
  background: linear-gradient(to right, #7b0618, #e60b2b, #0030ac, #001751);
  display: flex;
  justify-content: center;
}

.nav-list {
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: row;
  font-size: 1.1em;
}

.list-item {
  border-right: 1px solid white;
  border-right-width: 3px;
  height: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  padding: 0 30px;
  position: relative;
}

.list-item:last-child {
  border-right: none;
}

.list-item a {
  position: relative;
  font-size: 1.1em;
  color: #fff;
  text-decoration: none;
  font-weight: 400;
}

.list-item a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -6px;
  width: 100%;
  height: 2px;
  background: #fff;
  border-radius: 5px;
  transform-origin: right;
  transform: scaleX(0);
  transition: transform .5s;
}

.list-item a:hover::after {
  transform-origin: left;
  transform: scaleX(1);
}

#contact-arrow {
  margin-left: 5px;
}

.contact-drop {
  position: absolute;
  bottom: -200px;
  left: 0;
  width: 200px;
  height: 200px;
  background-color: white;
  z-index: 1000;
  display: block;
}

.contact-list {
  list-style-type: none;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact-list li {
  color: black;
  height: 50px;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(to bottom, #fff, rgb(220, 219, 219));
  font-weight: 500;
}

.contact-list li:hover {
  background: rgb(204, 204, 204);
}

.hide {
  display: none;
}

.show {
  display: block;
}

.main-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.main-container {
  display: flex;
  flex-direction: row;
  background-color: #1a1a18;
  background-image: url(./img/sigmund-yZmHFF-g-W0-unsplash.jpg);
  background-position: center;
  background-size: cover;
  width: 100%;
  height: 100vh;
}

.section {
  height: 100vh;
  width: 100%;
  background-color: rgba(2, 2, 2, .4);
  backdrop-filter: blur(3px);
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  position: relative;
}

.article-image {
  width: 45%;
  height: 60%;
  background-color: rgba(230, 230, 230, 0.8);
  border-radius: 10px;
  background-image: url('./img/kevin-woblick-oM9Ygakc8tI-unsplash.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.article {
  width: 45%;
  height: 60%;
  background-color: rgba(204, 204, 204, 0.8);
  border-radius: 10px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
  text-align: center;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: column;
  padding: 20px 40px;
}

.article h1 {
  font-size: 36px;
}

.article p {
  font-size: 18px;
}

@media (max-width: 768px) {

  .header {
    width: 100%;
    height: 30vh;
    flex-direction: row;
    align-items: center;
    justify-content: center;
  }

  .logo {
    position: absolute;
    height: 200px;
    width: 200px;
    left: 0;
    margin-left: 30px;
  }

  #menu-icon {
    display: block;
    margin-right: 30px;
  }

  .navbar {
    justify-content: flex-end;
    align-items: center;
    position: absolute;
    bottom: 0;
    height: 15px;
  }

  .nav-list {
    position: absolute;
    top: 0;
    right: 0;
    z-index: 999;
    display: block;
    background: linear-gradient(to bottom, #fff, rgb(220, 219, 219));
    display: none;
  }

  .list-item a {
    color: black;
    font-weight: 500;
  }

  .section {
    flex-direction: column;
  }

  .article {
    width: 80%;
    margin: 30px;
  }

  .article-image {
    width: 80%;
    margin: 30px;
  }
}